<!-- views/partials/footer.ejs -->
<!-- Social Media icons -->
<div class="sm"> <!-- A box to hold the images "Facebook" & "Twitter" -->
  <a class="facebook" href="https://en-gb.facebook.com"> <!-- A Facebook URL Link -->
    <img class="facebook" src="/img/facebook.png" alt="facebook logo">
    <!-- Facebook image which has been changed into an icon for users to click on -->
  </a>
  <a class="twitter"
  href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
    <img class="twitter" src="/img/twitter.png" alt="twitter logo">
</a>
</div>

<!-- contact details -->
<div id="contact">1 Test Street | Aberdeen | AB87 ER2 <br/>
  contact@pinpints.com
</div>       <!-- Paragraph for the address and email -->

<!-- copyright information -->
<p class="copyright">
  2018 &copy; Copyright: PinPints
</p>         <!-- Paragraph for the Copyright -->
